{{> content_top }}

<main class="container">
    <div class="row g-5">
        <div class="col-md-12">
    
            <article class="blog-post mt-5">
                {{#with page.head}}
                <h1 class="blog-post-title">{{title}}</h1>
                    <p class="blog-post-meta">{{#if extra.date}}Published: {{extra.date}}{{/if}}</p>
                    {{/with}}
                    {{! Since this is HTML, we use the triple-curly }}
                    {{{page.body}}}
                    {{! Remove the `!` on the line below to see how to call a Rhai script }}
                    {{! echo "world" }}
            </article>
    
        </div>

    </div>
</main>
{{> content_bottom }}
