{{! See content_top.hbs }}

</main>

<footer class="blog-footer">
  <p>
    {{#if site.info.extra.copyright }}
    <p>&copy; {{site.info.extra.copyright}}</p>
    {{/if}}
  </p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>


</div><!-- End main container -->
</body>

</html>